<!--<p>-->
  <!--login works!-->
<!--</p>-->
<div class="full-screen">
  <div class="full-screen login-container" fxLayout="column" fxLayoutAlign="center center">
    <div fxFlex="30">
      <md-card fxLayout="column">
        <md-input-container>
          <input mdInput placeholder="Login">
        </md-input-container>
        <md-input-container>
          <input type="password" mdInput placeholder="Password">
        </md-input-container>
        <button md-raised-button color="primary">
          <md-icon class="material-icons">fingerprint</md-icon>
          <span>Login</span>
        </button>
      </md-card>
    </div>
  </div>
</div>